@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: #82ff9e;
  color: #9b489b;
  font-family: "Silkscreen", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: clamp(0.6rem, 2.3vw, 1.2rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  background-color: #a9fbc3;
  margin: 1.2rem 0 0;
  padding: 1rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin-bottom: 5rem;
}

.game-container {
  padding: 1.2rem 2rem;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #a9fbc3;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.figure-container {
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figure-part {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 0.5rem;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #935fa7;
  display: inline-flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0.2rem 1rem 0.2rem;
  height: 50px;
  width: clamp(0.8rem, 2.3vw, 1.2rem);
}

.popup-contaienr {
  background-color: #b594b6;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fake-input {
  opacity: 0;
  transform: translateX(-400%);
}

.popup {
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  background-color: #b594b6;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  padding: 1.2rem;
  text-align: center;
  max-width: 80vw;
  transition: left 1s ease-in-out;
}

.show-popup {
  left: 50%;
}

.popup button {
  cursor: pointer;
  background-color: #a9fbc3;
  color: #b594b6;
  border: 0;
  margin-top: 1.2rem;
  padding: 0.8rem 1.2rem;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: #b594b6;
  border-radius: 10px 10px 0 0;
  padding: 0.8rem 1rem;
  position: absolute;
  bottom: -50%;
  transition: all 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}
.show {
  bottom: 0%;
}
